<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>

<nav th:fragment="navbar"
     class="navbar navbar-expand-lg navbar-dark shadow"
     style="background-color: #111111; padding: 18px 0;">

    <div class="container">

        <a class="navbar-brand fw-bold"
           href="/meditations"
           style="font-size: 32px; color: #f5c76b;">

            TutorConnect

        </a>

        <div class="d-flex align-items-center gap-3 flex-wrap">

            <div th:if="${#authorization.expression('hasAuthority(''CURSANT'')')}">

                <a href="/meditations"
                   class="btn btn-outline-light btn-sm px-3">

                    Tutors
                </a>

            </div>

            <div th:if="${#authorization.expression('hasAuthority(''MEDITATOR'')')}">

                <a href="/meditations"
                   class="btn btn-outline-light btn-sm px-3">

                    My Meditations
                </a>

            </div>

            <a href="/my-profile"
               class="btn btn-outline-light btn-sm px-3">

                My Profile
            </a>

            <div th:if="${#authorization.expression('hasAuthority(''CURSANT'')')}">

                <a href="/my-requests"
                   class="btn btn-outline-warning btn-sm px-3">

                    My Requests
                </a>

            </div>

            <div th:if="${#authorization.expression('hasAuthority(''MEDITATOR'')')}">

                <a href="/bookings"
                   class="btn btn-outline-warning btn-sm px-3">

                    Requests
                </a>

            </div>

            <form th:action="@{/logout}"
                  method="post">

                <button type="submit"
                        class="btn btn-danger btn-sm px-3">

                    Logout
                </button>

            </form>

        </div>

    </div>

</nav>

</body>

</html>